ENV=local
PORT=3001
HOST=localhost
DB_URL="mongodb://userLigo:H5urMHtqrU5DNlwM@cluster0-shard-00-00.pxaip.gcp.mongodb.net:27017,cluster0-shard-00-01.pxaip.gcp.mongodb.net:27017,cluster0-shard-00-02.pxaip.gcp.mongodb.net:27017/dbLigo?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority"
DB_NAME=dbLaMagica

RATE_LIMIT_QTY_MAX_CONNECTIONS=100
RATE_LIMIT_TIME_WINDOW_MINUTES=15


WST_API_URL="http://0.0.0.0:8001"
WST_API_COMPANY_ID="34fd8de1-b4cb-481c-86b9-44729a44c2d0"
WST_API_PROFILE_ID="61ced7b0-da31-4a7c-a8de-7ed4d930b5b5"
WST_API_USERNAME="test1"
WST_API_PASSWORD="123"
WST_KEY_AES_PAYLOAD="WEDXb.a23er.0jdf"
WST_IV_AES_PAYLOAD="uNJFN.34DFS.DYGeH2"

WST_ID_LIGO="510980"
WST_PROVIDER="UNIBANCA"

# Clave publica del token
GCP_SECRET_KEY_PUB_PATH="./"
