ENV=local
PORT=3001
HOST=localhost

RATE_LIMIT_QTY_MAX_CONNECTIONS=100
RATE_LIMIT_TIME_WINDOW_MINUTES=15


DB_HOST=yape-postgres
DB_PORT=5432
DB_USERNAME=yape
DB_PASSWORD=secret
DB_NAME=transaction

REDIS_HOST=yape-redis
REDIS_PORT=6379
REDIS_PASSWORD=secret


KAFKA_BROKERS=yape-kafka:9092
KAFKA_CLIENT_ID=transaction-service
KAFKA_GROUP_ID=transaction-group

CIRCUIT_BREAKER_THRESHOLD=5
CIRCUIT_BREAKER_TIMEOUT=30000